$modal-transition: .4s cubic-bezier(0.165, 0.840, 0.440, 1.000);

main {
  transform: scale(1);
  transition: $modal-transition;
  

  &.modal-active {
    transform: scale(1.06);
  }
}

.modal {
  position: fixed;
  inset: 0px;
  z-index: 1000;
  
  &-background {
    display: flex;
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: black;
    top: 0;
    left: 0;
    opacity: 0.5;

    // animation
    z-index: 0;
    cursor: pointer;
    transition: $modal-transition;
  }

  &-centerer {
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
  }

  &-body {
    z-index: 1;
    display: flex;
    background-color: $primary-white;
    max-height: 80vh;
    overflow-y: auto;
  }

  &-wrapper {
    width: 100%;
  }

  &.active {
    transform: scale(1);
    
    .modal-body {
      transform: scale(1);
      opacity: 1;
    }
    .modal-background {
      opacity: .8;
    }

    &.out {
      .modal-body {
        transform: scale(1.3);
        opacity: 0;
      }
      .modal-background {
        opacity: 0;
      }
    }
  }
}