.wa-modal {

    .modal {
        &-wrapper {
            display: flex;
            flex-direction: column;
        }
    }

    &-caption-container {
        display: flex;
        width: 100%;
        padding-top: 4px;
        padding-bottom: 10px;
        border-bottom: solid 1px $paragraph-dark-underline;
    }

    &-caption {
        font-weight: 700;
        font-size: 28px;
        line-height: 30px;
        letter-spacing: 0.25em;
        text-transform: uppercase;
        color: $caption-dark-font;
    }

    &-description {
        white-space: pre-wrap;
        font-family: $paragraph-font;
    }
}

.web-apps-modal-scrollbar {
    @media screen and (min-width: $md) {
        &::-webkit-scrollbar {
            $scrollBarSize: 2px;
    
            width: $scrollBarSize;
            height: $scrollBarSize;
        }
    
        &::-webkit-scrollbar-thumb {
            background-color: #b6b6b6;
        }
    }
}


// Carousel

$carousel-viewport-height: 300px;
$carousel-thumbs-height-desktop: 65px;
$carousel-thumbs-height-mobile: 30px;

.webAppModalCarousel {
    max-height: 492px;

    .f-carousel {
        --f-carousel-spacing: 6px;
        max-width: 100%;
        height: $carousel-viewport-height;
        margin: 0 auto;

        &__slide {
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 60%;
            transition: .3s all;
            min-height: 300px;
            transform: scale(0.85);
            // box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);

            &.is-selected {
                transform: scale(1.05);
            }

            img {
                max-width: 100%;
                height: auto;
            }

            @media screen and (max-width: $md) {
                max-width: 70%;

                img {
                    height: 100%;
                    object-fit: cover;
                }
            }
            @media screen and (max-width: $sm) {
                max-width: 80%;
            }
        }

        &__nav {
            .f-button {
                background-color: #00000030;
                transition: .2s;

                &:hover {
                    background-color: #00000070;
                }

                @media screen and (max-width: $md) {
                    &:hover {
                        background-color: #00000030;
                    }
                    &:active {
                        background-color: #00000070;
                    }
                }

                svg {
                    stroke: white;
                }
            }
        }
    }

    .f-thumbs {
        &__slide {
            height: $carousel-thumbs-height-desktop;
        }

        @media screen and (max-width: $md) {
            &__slide {
                height: $carousel-thumbs-height-mobile;
            }
        }
        @media screen and (max-width: 430px) {
            max-width: 80vw;
        }
    }

    .f-carousel__dot {
        background-color: $primary-black !important;
    }
}

.webAppModalCarouselWrapper {
    &.carouselWrapperHeight {
        min-height: calc($carousel-viewport-height + $carousel-thumbs-height-desktop + 20px);

        @media screen and (max-width: $md) {
            min-height: calc($carousel-viewport-height + $carousel-thumbs-height-mobile + 20px);
        }
        
        
        @media screen and (max-width: $sm) {
            min-height: calc($carousel-viewport-height + $carousel-thumbs-height-mobile);
        }
    }
}

.carousel-modal-transition {
    &-enter-to, &-leave-from {
        opacity: 1;
        transition: .3s;
    }
    &-enter-from, &-leave-to {
        opacity: 0;
    }
}