.wa-modal {

    .modal {
        &-wrapper {
            display: flex;
            flex-direction: column;
        }
    }

    &-caption-container {
        display: flex;
        width: 100%;
        padding-top: 4px;
        padding-bottom: 10px;
        margin-bottom: 16px;
        border-bottom: solid 1px $paragraph-dark-underline;
    }

    &-caption {
        font-weight: 700;
        font-size: 28px;
        line-height: 30px;
        letter-spacing: 0.25em;
        text-transform: uppercase;
        color: $caption-dark-font;
    }

    &-description {
        white-space: pre-wrap;
        font-family: $paragraph-font;
    }
}

.web-apps-modal-scrollbar {
    @media screen and (min-width: $md) {
        &::-webkit-scrollbar {
            $scrollBarSize: 2px;
    
            width: $scrollBarSize;
            height: $scrollBarSize;
        }
    
        &::-webkit-scrollbar-thumb {
            background-color: #b6b6b6;
        }
    }
}


// Carousel
.webAppModalCarousel {
    max-height: 492px;

    .f-carousel {
        --f-carousel-spacing: 6px;
        max-width: 100%;
        height: 300px;
        margin: 0 auto;

        &__slide {
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 60%;
            transition: .3s all;
            transform: scale(0.85);

            &.is-selected {
                transform: scale(1.05);
            }

            img {
                max-width: 100%;
                height: auto;
            }

            @media screen and (max-width: $md) {
                max-width: 70%;

                img {
                    height: 100%;
                    object-fit: cover;
                }
            }
            @media screen and (max-width: $sm) {
                max-width: 80%;
            }
        }

        &__nav {
            .f-button {
                background-color: #00000030;
                transition: .2s;

                &:hover {
                    background-color: #00000070;
                }

                svg {
                    stroke: white;
                }
            }
        }
    }

    .f-thumbs {
        --f-thumb-height: 65px;

        @media screen and (max-width: $md) {
            --f-thumb-height: 40px;
        }
        @media screen and (max-width: 430px) {
            max-width: 80vw;
        }
    }

    .f-carousel__dot {
        background-color: $primary-black !important;
    }
}

.carousel-modal-transition {
    &-enter-to, &-leave-from {
        opacity: 1;
        transition: .3s;
    }
    &-enter-from, &-leave-to {
        opacity: 0;
    }
}