// Colors
$primary-white: #F1F1F1;
$primary-black: #272727;

$caption-dark-font: #3f3f3f;
$paragraph-dark-font: #787878;
$paragraph-dark-underline: #9a9a9a;

$caption-light-font: #F1F1F1;
$paragraph-light-font: #bdbdbd;

// Fonts
$primary-font: 'Open Sans', sans-serif;
$paragraph-font: 'Raleway', sans-serif;
