// Colors
$primary-white: #F1F1F1;
$primary-black: #272727;

$caption-dark-font: #3f3f3f;
$paragraph-dark-font: #787878;
$paragraph-dark-underline: #9a9a9a;

$caption-medium-dark-font: #676767;

$caption-light-font: #F1F1F1;
$paragraph-light-font: #bdbdbd;

// Fonts
$primary-font: 'Open Sans', sans-serif;
$paragraph-font: 'Raleway', sans-serif;


// Screen sizes
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1536px;


// Other
$sidebar-mobile-height: 64px;